html {
    font-size: 62.5%;
}
body {
    font-family: "Abril Fatface", cursive;
}
p, label, button {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
p {
    font-size: 3rem;
    margin: 0;
}
button {
    font-size: 2.5rem;
    color: white;
    padding: 15px 20px ;
    border-radius: 4px;
    border: none;
    background: #00a000;
    display: block;
    text-align: center;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    letter-spacing: 3px;
    color: rgb(255, 72, 0);
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    margin-bottom: 10px;
    margin-top: 0;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 72, 0);
    font-size: 3rem;
    letter-spacing: 3px;
}
h3 {
    font-size: 2rem;
    letter-spacing: 1px;
}
img {
    display: block;
    width: 100%;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.landing {
    min-height: 100vh;
    max-height: 110vh;
    background: url(../assets/lukas-blazek-261682.jpg);
    background-size: cover;
    overflow: hidden;
}