.foodAndWine {
    padding: 22px 22px;
    padding: 20px;
    position: relative;
    height: 100vh;
    top: 100vh;
    transition: top 1s ease-in;

    h2 {
        color: rgb(31, 31, 31);
        text-decoration: none;
        clear: both;
        text-align: center;
        font-size: 2.5rem;
    }
}
a {
    text-decoration: none;
}
a p {
    width: 100%;
    float: right;
    font-size: 1.4rem;
    text-align: right;
    color: rgb(31, 31, 31);
    margin-top: 25px;
    text-align: center;
}
img.logo {
    width: 80px;
    float: right;
    position: relative;
    left: 16px;
}
.recipe ul {
    color: black;
    list-style-type: circle;
    padding: 0;
}
.recipe li {
    display: block;
    font-family: "Raleway", sans-serif;
    list-style-type: circle;
    font-size: 1.5rem;
    line-height: 3rem;
}
.cookTime, .totalTime, .servings {
    font-size: 2rem;
    font-family: "Abril Fatface", cursive;
    font-weight: bolder;
}
.recipe, .wine {
    padding: 30px;
    border-radius: 4px;
    width: 50%;
    background: rgb(255, 255, 255);
    margin: 2px;
}
.recipe {
    width: 520px;
    margin: 0 auto;
    box-shadow: 0px 10px 40px rgba(0,0,0,1);
    position: relative;
    z-index: 1;
    position: relative;
}
.recipe .imageHolder {
    height: 47vh;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 0 10px 0;
    transition: margin 0.5s ease-in-out;
}
.recipe img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.recipeFeature {
    display: block;
    border: 2px solid transparent;
    margin: 0 0 5px 0;
    transition: border 0.5s ease-in-out;
}
.recipeFeature:hover, .recipeFeature:focus, .recipeFeature:active {
    border: 2px solid rgb(75, 255, 75);
}
.recipeDetails {
    span {
        font-family: 'Montserrat', sans-serif;
        margin-left: 6px;
    }
    div {
        display: inline-block;
        float: left;
    }
    div:first-of-type {
        margin-right: 20px;
    }
    div:last-of-type {
        margin-bottom: 10px;
    }
    i {
        font-size: 2rem;
    }
    div:last-of-type i {
        margin: 0 0.2rem;
    }
}
.buttons {

    .differentRecipe, .backToTop {
        font-size: 2rem;   
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        color: white;
        border-radius: 4px;
        margin: 0;
        width: calc(50% - 5px);
        float: left;
    }
    .differentRecipe {
        margin-right: 10px;
    }
}
button {
    position: relative;
    top: 0;
    transition: top 0.2s ease-in;
}
button:hover, button:focus, button:active {
    background: #38b100;
    top: -3px;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.8);
}
.hidden {
    display: none;
}
.wine {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 60px;
    left: calc(50% + 17px);
    margin: 0;
    border-radius: 4px;
    box-shadow: 0px 10px 40px rgba(0,0,0,1);
    transition: left 0.3s ease-in;

    h2 {
        font-size: 2rem;
    }
    img {
        z-index: 2;
        width: 100%;
        position: static;
        height: 100%;
        margin: 0 auto;
        box-shadow: none;
    }
    a.hideWine {
        display: none;
    }
    i {
        font-size: 4rem;
        color: grey;
        position: absolute;
        top: 2px;
        right: 7px;
        z-index: 5;
    }
    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .imageHolder {
        width: 184px;
        margin: 0 auto;
        overflow: hidden;
        height: 0;
    }
    .facade {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background: rgb(109, 0, 36);
        border-radius: 4px;
        transition: right 0.3s ease-in,
                    background 0.3s ease-in;
    }
    .facade:hover, .facade:focus, .facade:active {
        right: -15px;
        background: rgb(136, 0, 45);
    }
    .facade:hover .wine, .facade:focus .wine, .facade:active .wine {
        right: -15px;
    }
    .facade img {
        display: inline-block;
        width: 25px;
        height: 50px;
        position: absolute;
        right: 15px;
        top: 21px;
        transition: width 1s ease-in,
                    height 1s ease-in;
    }
}

