.tagSection {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: none;
    overflow: hidden;
    transition: top 1s ease-in;

    h2 {
        text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    }
    p {
        font-size: 2rem;
        margin-top: 10px;
    }
    form {
        max-width: 700px;
        margin: 0 auto;
        position: relative;
        top: 0;
    }
    label {
        width: 16rem;
    }
    label, .submit {
        color: rgb(34, 34, 34);
        font-size: 2rem;
        letter-spacing: 1px;
        border-radius: 4px;
        background: white;
        padding: 25px 20px;
        margin-bottom: 3%;
        position: relative;
        top: 0;
        transition: all 0.1s ease-in-out;
    }
    .submit {
        border: none;
        background: #041c2d;
        color: white;
        display: block;
        padding: 15px 40px;
        margin-top: 20px;  
    }
    .submit:hover, .submit:focus, .submit:active {
        background: #093049;
        top: -3px;
        box-shadow: 0px 5px 15px rgba(0,0,0, 0.8);
    }
    label:hover, label:focus, label:active {
        background-color: rgb(252, 110, 74);
        top: -3px;
        box-shadow: 0px 5px 15px rgba(0,0,0, 0.8);
        color: white;
    }
    #ingredients input[type="radio"]:checked+label {
        background: rgb(255, 72, 0);
        color: white;
    }
    input {
        visibility: hidden;
        position: absolute;
    }
    .flexParent {
        display: flex;
        height: auto;
    }
    .meats {
        width: 50%;
        flex: 10 0 20rem;
        display: flex;
        flex-wrap: wrap;        
        justify-content: baseline;
        position: relative;
        
        label:nth-child(2n + 2) {
            margin-right: 15px;
        }
    }
    .meats::after {
        content: "";
        background: white;
        position: absolute;
        height: 145px;
        width: 2px;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
    }
    .veg {
        flex: 3.3 2 20rem;;
        padding-top: 13%;
        position: relative;

        label {
            background: #00a000;
            display: block;
            margin: 0 auto 15px auto;
            color: white;
            width: 19rem;
        }
        i {
            margin-left: 4px;
        }
        label:hover, label:focus, label:active {
            background-color: rgb(133, 199, 0);
            top: -3px;
            color: white;
            box-shadow: 0px 5px 15px rgba(0,0,0, 0.8);
        }
    }

    ///////////////////////////
    .radio-toolbar input[type="radio"] {
        display: none;
      }
      
      .radio-toolbar label {
        display: inline-block;
        background-color: #ddd;
        padding: 4px 11px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
      }
      
      .radio-toolbar input[type="radio"]:checked+label {
        background-color: #bbb;
      }

}